.text {
  display: flex;
  margin-top: 50px;
  padding-top: 50px;
  justify-content: space-between;
}
.product {
  background-color: #f5f5f578;
}
.texts {
  display: flex;
}
.btn button {
  width: 300px;
  height: 50px;
  background-color: white;
  border-radius: 5px;
  font-size: 16px;
}
.marka {
  line-height: 30px;
  padding-top: 10px;
}
hr {
  margin-top: 30px;
}
.content {
  width: 80rem;
  height: 700px;
  background-color: white;
  padding: 50px 30px;
  margin-top: 60px;
}

.images_img {
  width: 220px;
  height: 220px;
  border: 1px solid rgba(167, 162, 162, 0.174);
  max-width: 300px;
}
.function {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 60px;
}
.img {
  display: flex;
  gap: 10rem;
}
.name {
  font-size: 20px;
}
.pri{
  font-size: 15px;
}
.pris{
  font-size: 15px;
}
.price {
  font-size: 15px;
}
.images{
    border: 1px solid rgba(197, 191, 191, 0.201);
    width: 200px;
    height: 200px;
    border-radius: 3px;
}
.popup{
    padding: 5px 17px;
    width: 450px;
    height: 55rem;
    position: absolute;
    z-index: 99;
    background-color: white;
    margin-top: 40px;
    border-radius: 12px;
    border: 1px solid grey;
    
}
.detail{
    display: flex;
}
.text{
   flex-direction: column; 
}

.razmer {
    display: flex;
    gap: 20px;
    padding-top: 20px;
  }
  .razmer p:hover {
    background-color:#C92071;
    color: white;
   
  }
  .razmer p {
    width: 45px;
    height: 45px;
    border: 1px solid rgba(184, 175, 175, 0.263);
    padding: 13px 13px;
    border-radius: 5px;
  }
  
  .color_1 {
    width: 45px;
    height: 45px;
    border-radius: 50px;
    background-color: #927876;
  }
  .color_2 {
    width: 45px;
    height: 45px;
    border-radius: 50px;
    background-color: #d4d4d4;
  }
  .color_3 {
    width: 45px;
    height: 45px;
    border-radius: 50px;
    background-color: #fd9696;
  }
  .color_4 {
    width: 45px;
    height: 45px;
    border-radius: 50px;
    background-color: #fdc796;
  }
  .coloring {
    display: flex;
    padding-top: 30px;
    gap: 20px;
  }
  .raz {
    padding-top: 20px;
    font-size: 20px;
    color: #8F8F8F;
  }
  .col {
    padding-top: 20px;
    font-size: 20px;
    color: #8F8F8F;
  }
  .prices {
    font-size: 30px;
    font-weight: 600;
    padding-top: 5px;
  }
  .btn_detail button{
    width: 190px;
    height: 40px;
    border-radius: 5px;
    background-color: #FFB31F;
    color: white;
    border: transparent;
    margin-top: 50px;
  }
  .logo_img{
    margin-top: 70px;
  }
  .cont p{
    padding-top: 15px;
    color: #474747;
  }
  .cont h5{
    padding-top: 10px;
    color: #8F8F8F;
  }